# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
ENV/
venv/
.ENV/
.Python

# VS Code
.vscode/

# PyCharm / IntelliJ
.idea/

# macOS system files
.DS_Store

# Logs and reports
*.log
*.out
*.tmp

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Output folders
plots/
*.png
*.svg

# Python build artifacts
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt

# MyPy
.mypy_cache/
.dmypy.json

